<template>
  <li>
    <strong>{{name}}:</strong>&nbsp;
    <a v-if="href" :href="href">{{ text }}</a>
    <span v-else>{{ fallback }}</span>
  </li>
</template>

<script>
export default {
  props: {
    name: {
      type: String,
      requred: true
    },
    text:  {
      type: String,
      requred: true
    },
    fallback: {
      type: String,
      requred: false,
      default: 'Unknown'
    },
    href:  {
      type: String,
      requred: false,
      default: ''
    },
  },
};
</script>
