<template>
  <gl-card>
    <template #header>
      <strong>{{ name }}</strong>
    </template>

    <p>
      This flag was introduced in
      <a v-if="milestone && milestone !== 'unknown'" :href="introducedBy"
        >%{{ milestone }}</a
      >
      <a v-else :href="introducedBy">an unknown milestone</a>
      and is owned by the <strong>{{ parsedGroup }}</strong> group. It
      <strong>has<span v-if="!enabled"> not</span></strong>
      been enabled by default.
    </p>

    <ul class="links">
      <flag-link
        name="Yaml File"
        :href="webUrl"
        :text="`${name}.yml`"
      ></flag-link>

      <flag-link
        name="Introduced by"
        :href="introducedBy"
        :text="introducedByClean"
      ></flag-link>

      <flag-link
        name="Feature Issue"
        :href="featureIssue"
        :text="featureIssueClean"
      ></flag-link>

      <flag-link
        name="Rollout Issue"
        :href="rolloutIssue"
        :text="rolloutIssueClean"
      ></flag-link>

      <flag-link
        name="Event history"
        :href="eventHistoryUrl"
        text="Issues"
      ></flag-link>
    </ul>

    <div>
      <gl-badge v-if="milestone" class="mr-2 mb-2">%{{ milestone }}</gl-badge>
      <gl-badge v-if="type" class="mr-2 mb-2">{{ type }}</gl-badge>
      <gl-badge v-if="group" class="mr-2 mb-2" variant="info">{{
        group
      }}</gl-badge>
      <gl-badge v-if="enabled" class="mr-2 mb-2" variant="success"
        >Enabled</gl-badge
      >
      <gl-badge v-else class="mr-2 mb-2" variant="danger">Disabled</gl-badge>
    </div>
  </gl-card>
</template>

<script>
import { GlBadge, GlCard } from "@gitlab/ui";
import FlagLink from "./FlagLink.vue";
import parseGlUrl from "../utils/parseGlUrl";

export default {
  components: {
    FlagLink,
    GlBadge,
    GlCard,
  },
  props: {
    name: {
      type: String,
      required: true,
    },
    webUrl: {
      type: String,
      required: true,
    },
    enabled: {
      type: Boolean,
      required: false,
      default: false,
    },
    group: {
      type: String,
      required: false,
      default: "Unknown",
    },
    type: {
      type: String,
      required: false,
      default: "Unknown",
    },
    introducedBy: {
      type: String,
      required: false,
      default: "",
    },
    milestone: {
      type: String,
      required: false,
      default: "Unknown",
    },
    featureIssue: {
      type: String,
      required: false,
      default: "",
    },
    rolloutIssue: {
      type: String,
      required: false,
      default: "",
    },
  },
  computed: {
    eventHistoryUrl() {
      return `https://gitlab.com/gitlab-com/gl-infra/feature-flag-log/-/issues?search=${this.name}&sort=created_date&state=all&label_name[]=host::gitlab.com`
    },
    introducedByClean() {
      return this.introducedBy ? `!${parseGlUrl(this.introducedBy)}` : null;
    },
    parsedGroup() {
      return this.group ? this.group.replace("group::", "") : "Unknown";
    },
    featureIssueClean() {
      return this.featureIssue ? `#${parseGlUrl(this.featureIssue)}` : null;
    },
    rolloutIssueClean() {
      return this.rolloutIssue ? `#${parseGlUrl(this.rolloutIssue)}` : null;
    },
  },
};
</script>

<style scoped>
h1 {
  word-break: break-all;
}
.links {
  list-style: none;
  padding: 0;
}
</style>
