<template>
  <div class="cards">
    <flag-card
      v-for="flag in flags"
      :enabled="flag.default_enabled"
      :group="flag.group"
      :introduced-by="flag.introduced_by_url"
      :key="flag.web_url"
      :milestone="flag.milestone"
      :name="flag.name"
      :feature-issue="flag.feature_issue_url"
      :rollout-issue="flag.rollout_issue_url"
      :type="flag.type"
      :web-url="flag.web_url"
    />
  </div>
</template>

<script>
import FlagCard from "./FlagCard.vue";

export default {
  components: {
    FlagCard,
  },
  props: {
    flags: {
      type: Array,
      required: true,
    },
  },
};
</script>

<style scoped>
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-gap: 1rem;
  max-width: 110rem;
  margin: 2rem auto;
}
</style>
